.reviews-section {
  width: 100%;
  max-height: 1200px;

  .main {
    width: 50%;
    margin: 120px auto;
    box-sizing: border-box;

    .heading {
      padding: 50px 0;
      margin: 0 auto;
      max-width: 70%;
      font-size: 48px;
      font-weight: 600;
      line-height: 62px;
      line-height: 128%;
      text-align: center;
      vertical-align: top;
      color: #284c7a;
    }
    .reviews {
      display: flex;
      position: relative;
      margin: 40px auto;
      width: 100%;
      min-height: 600px;
      border-radius: 10px;
      background-color: #d1e5ff;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: Center;
      padding: 20px;

      .reviews-carousel {
        flex: 0.7;
        margin: auto auto 0 auto;
        position: relative;
        width: 70%;
        transition: transition ease-in 5s;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        .review-box {
          width: 100%;
          height: 100%;
          margin: auto;
          position: absolute;
          flex-direction: column;
          top: 100%;
          transition: all ease-in-out 2s;
          display: flex;
          transform: translateY(100%) + scaleZ(-1);
          zoom: 0%;
          visibility: hidden;

          &.current {
            transform: translateY(-100%);
            zoom: 100%;
            visibility: visible;
          }

          &.moveDown {
            transform: translateY(200%);
            visibility: hidden;
          }

          p {
            max-height: 50%;
            font-weight: normal;
            font-size: 22px;
            line-height: 128.2%;
            flex: 1;
            vertical-align: middle;
          }
          .person {
            width: 50%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .image {
              width: 42%;
              overflow: hidden;

              img {
                max-width: 90%;
                border-radius: 20px;
              }
            }

            .info {
              text-align: left;
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin: auto;
              font-weight: normal;
              font-size: 24px;
              line-height: 128.2%;
              .position {
                color: #feb546;
              }
            }
          }
        }
      }
      .dotNav {
        margin: 0 auto auto auto;

        .dot {
          cursor: inherit;
          outline: none;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          margin: auto 5px;
          background-color: #c4c4c4;
          border: none;

          &.current {
            background-color: #284c7a;
          }
        }
      }
    }
  }
  .box {
    display: block;
    position: relative;
    border-radius: 10px;

    &#pink {
      z-index: -2;
      top: -940px;
      left: 12%;
      background-color: #ff5b7e;
      width: 205px;
      height: 182px;
    }
    &#purple {
      z-index: -1;
      top: -1000px;
      left: 18%;
      width: 188px;
      height: 154px;
      background-color: #9883e5;
    }
    &#green {
      z-index: -1;
      right: -70%;
      bottom: 520px;
      width: 189px;
      height: 167px;
      background-color: #b2df57;
    }
    &#blue {
      z-index: -2;
      bottom: 620px;
      width: 205px;
      height: 200px;
      right: -75%;
      background-color: #284c7a;
    }
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .reviews-section {
    padding: 20px 0;
    .main {
      width: 80%;
      margin: auto;

      .heading {
        padding: 50px 0;
        margin: 0 auto;
        font-size: 2rem;
        font-weight: 600;
        line-height: 62px;
        line-height: 128%;
      }

      .reviews {
        min-height: 500px;
        padding: unset;
        .reviews-carousel {
          .review-box {
            p {
              font-size: 1.2rem;
            }
            .person {
              width: 50%;

              .image {
                width: 42%;

                img {
                  max-width: 90%;
                }
              }

              .info {
                .position {
                  color: #feb546;
                }
              }
            }
          }
        }
      }
    }
    .box {
      display: none;
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 767.99px) {
  .reviews-section {
    padding: 20px 0;
    .main {
      width: 90%;
      margin: auto;

      .heading {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 120%;
      }

      .reviews {
        height: fit-content;
        padding: unset;

        .reviews-carousel {
          .review-box {
            p {
              font-weight: normal;
              font-size: 1.1rem;
              line-height: 128.2%;
            }
            .person {
              width: 80%;

              .image {
                width: 35%;
              }
            }
          }
        }
      }
    }
    .box {
      display: none;
    }
  }
}
