.aboutUs {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .main {
    width: 42%;
    margin: 40px auto 0 auto;
    vertical-align: middle;
    padding-top: 70px;

    h1 {
      max-width: 80%;
      text-align: center;
      font-weight: 600;
      font-size: 36px;
      line-height: 128.2%;
      margin: 30px auto 60px auto;
    }
    p {
      max-width: 85%;
      margin: auto;
      text-align: justify;
      text-justify: distribute;
      font-size: 18px;
      line-height: 141.2%;
      font-weight: normal;
      animation: fadeIn ease-in-out 10s;
      overflow: hidden;

      &.shrink {
        max-height: 200px;
      }
      &.expand {
        animation: expanded ease 1.1s;
        @keyframes expanded {
          0% {
            max-height: 200px;
          }
          100% {
            max-height: 600px;
          }
        }
      }
    }

    .fadeOut {
      position: relative;
      bottom: 4em;
      height: 4em;
      background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
    }

    button {
      position: relative;
      left: 7.5%;
      bottom: 60px;
      background-color: transparent;
      border: none;
    }
  }
  .image {
    justify-content: flex-start;
    max-width: 576px;
    max-width: 576px;
    width: 35%;
    margin: 0 auto;

    img {
      top: 0;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .aboutUs {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;

    .main {
      width: 100%;

      p {
        width: 100%;
      }

      button {
        left: 0%;
        text-align: center;
      }
    }

    .image {
      width: 90%;
    }
  }
}
